<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="author" content="Rhennan Cordeiro">
      <title>Nokia FTTH Tools</title>
      <link rel="stylesheet" href="/static/css/style.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> 
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
   </head>
   <body>
      <main class="cd__main">
         <aside>
  <p> Nokia FTTH Tools </p>
  <a href="/buscar_onu">
    <i class="fa fa-user-o" aria-hidden="true"></i>
    Bucar ONU
  </a>
  <a href="javascript:void(0)">
    <i class="fa fa-laptop" aria-hidden="true"></i>
    Not Implemented
  </a>
  <a href="javascript:void(0)">
    <i class="fa fa-clone" aria-hidden="true"></i>
    Not Implemented
  </a>
  <a href="javascript:void(0)">
    <i class="fa fa-star-o" aria-hidden="true"></i>
    Not Implemented
  </a>
  <a href="javascript:void(0)">
    <i class="fa fa-trash-o" aria-hidden="true"></i>
    Not Implemented
  </a>
</aside>

<div class="social">
  <a href="https://www.linkedin.com/in/rhennancordeiro/" target="_blank">
    <i class="fa fa-linkedin"></i>
  </a>
</div>
  {% block title %}
  {% endblock %}
  <div class="container-content">
    {% block content %}
    {% endblock %}
  </div>

      </main>
   </body>
</html>
